# docker compose up のために事前に指定が必要なポート番号
REDIS_CLUSTER_NODE_1_PORT=${REDIS_CLUSTER_NODE_1_PORT}
REDIS_CLUSTER_NODE_2_PORT=${REDIS_CLUSTER_NODE_2_PORT}
REDIS_CLUSTER_NODE_3_PORT=${REDIS_CLUSTER_NODE_3_PORT}

# app 側で docker compose services に接続するための環境変数
BIGQUERY_DATASET=testdata
BIGQUERY_ENDPOINT=http://127.0.0.1:${BIGQUERY_PORT}
BIGQUERY_PROJECT=test
MYSQL_DSN="root@tcp(127.0.0.1:${MYSQL_PORT})/testdb"
REDIS_CLUSTER_ADDR=127.0.0.1:${REDIS_CLUSTER_NODE_1_PORT}