BIGQUERY_PROJECT=test
BIGQUERY_DATASET=testdata
REDIS_HOST=127.0.0.1:${REDIS_PORT}
MYSQL_DSN="root@tcp(127.0.0.1:${MYSQL_PORT})/testdb"
BIGQUERY_ENDPOINT=http://127.0.0.1:${BIGQUERY_PORT}
REDIS_CLUSTER_NODE_1_PORT=${REDIS_CLUSTER_NODE_1_PORT}
REDIS_CLUSTER_NODE_2_PORT=${REDIS_CLUSTER_NODE_2_PORT}
REDIS_CLUSTER_NODE_3_PORT=${REDIS_CLUSTER_NODE_3_PORT}
REDIS_CLUSTER_HOSTS=redis-cluster-node-1:${REDIS_CLUSTER_NODE_1_PORT},redis-cluster-node-2:${REDIS_CLUSTER_NODE_2_PORT},redis-cluster-node-3:${REDIS_CLUSTER_NODE_3_PORT}
